
*, *::before, *::after {
  box-sizing: border-box;
}
body {
  height: 130vh;
  background-image: url('space.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

header {
  height: 2.25vh;
  width: 50%;
  margin-top: 2.5%;
  display: flex;
  justify-content: space-between;
  margin-left: 10%;
  margin-bottom: 8%;
}
input {
  width: 15%;
}
h1 {
  color: white;
  text-shadow: 7px 7px black;
  font-size: 3.5rem;
  margin-right: 25%;
}

#h1One, #h1Two, #h1Three {
  text-align: center;
  margin-left: 15%;
}

#go {
  color: red;
  background: black;
  border-radius: 15%;
  font-size: 1.25rem;
}
p {
  text-align: center;
  color: white;
  text-shadow: 3px 3px black;
  font-size: 1.65rem;
  line-height: 2.25rem;
}
img {
  height: 40vh;
  width: 50vw;
}
.carousel {
  width: 75vw;
  height: 75vh;
  position: relative;
  margin: auto;
  margin-top: 5%;
}
.carousel > ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.slide {
  position: absolute;
  inset: 0;
  opacity: 0;
}
.slide[data-active] {
  opacity: 1;
}
.slide > img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.carousel-button {
  position: absolute;
  background: none;
  border: none;
  font-size: 1.5rem;
  z-index: 2;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.carousel-button.prev {
  left: 1rem;
}
.carousel-button.next {
  right: 1rem;
}

.main {
  height: 100vh;
  margin-top: -5%;
}
footer {
  height: 10vh;
}

@media (max-width: 2250px) {
  header {
    height: 2.1vh;
    width: 60%;
    margin-top: 2%;
    display: flex;
    justify-content: space-between;
    margin-left: 10%;
    margin-bottom: 8%;
  }
  body {
    height: 110vh;
  }
}

@media (max-width: 1950px) {
    header {
      height: 2.1vh;
      width: 70%;
      margin-top: 2%;
      display: flex;
      justify-content: space-between;
      margin-left: 7%;
      margin-bottom: 8%;
    }
    body {
      height: 110vh;
    }
}

@media (max-width: 1690px) {
    header {
      height: 2.1vh;
      width: 70%;
      margin-top: 2%;
      display: flex;
      justify-content: space-between;
      margin-left: 7%;
      margin-bottom: 8%;
    }
    body {
      height: 110vh;
    }
    input {
    margin-left: -5%;
    margin-right: 5%;
    width: 25%;
    }
    h1 {
      font-size: 2rem;
    }
    p {
      font-size: 1.5rem;
    }
    #go {
      width: 16%;
    }
}

@media (max-width: 1200px) {
    header {
      height: 2.1vh;
      width: 70%;
      margin-top: 2%;
      display: flex;
      justify-content: space-between;
      margin-left: 7%;
      margin-bottom: 10%;
    }
      body {
        height: 110vh;
      }
    input {
    margin-left: -5%;
    margin-right: 5%;
    width: 75%;
    }
    h1 {
      font-size: 1.85rem;
    }
    p {
      font-size: 1.2rem;
    }
    #go {
      width: 50%;
    }
}

@media (max-width: 1075px) {
    header {
      height: 2.1vh;
      width: 80%;
      margin-top: 2%;
      display: flex;
      justify-content: space-between;
      margin-bottom: 10%;
    }
      body {
        height: 110vh;
      }
    input {
    margin-left: -10%;
    margin-right: 10%;
    width: 50%;
    }
    h1 {
      font-size: 1.85rem;
    }
    p {
      font-size: 1.2rem;
    }
    #go {
      width: 70%;
      margin-left: -3%;
    }
}
@media (max-width: 800px) {
  header {
    height: 2.1vh;
    width: 60%;
    margin-top: 2%;
    display: flex;
    justify-content: space-between;
    margin-left: -3%;
    margin-bottom: 10%;
  }
    body {
      height: 110vh;
    }
  input {
  margin-left: -50%;
  margin-right: 10%;
  width: 85%;
  }
  h1 {
    font-size: 1.85rem;
  }
  p {
    font-size: 1.2rem;
  }
  #go {
    width: 100%;
  }
}
